<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a class="navbar-brand" href="/index.html">
	<img src="https://aishtrack.s3.amazonaws.com/img/apcl_logo.png" style="width:160px;height:100px;"/>
	</a>
	<button class="navbar-toggler ml-auto mr-0" type="button"
		data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item"><a class="nav-link" href="#" onclick="navigateTo('/serviceReports/searchServiceReports.html');">Service Reports</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Work Orders </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/workOrders/updateWorkOrder.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/workOrders/searchWorkOrders.html');">Search</a>
				</div></li>

				<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Customers </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/customers/updateCustomer.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/customers/searchCustomers.html');">Search</a>
				</div></li>
				<li class="nav-item"><a class="nav-link" href="#" onclick="navigateTo('/expenses/searchExpenseReports.html');">Expense Reports</a></li>
                <li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Remittances </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/outwardRemittances/updateOutwardRemittances.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/outwardRemittances/searchOutwardRemittances.html');">Search</a>
					
					<a class="dropdown-item" href="#" onclick="navigateTo('/outwardRemittances/updateDomesticRemittances.html');">Create Domestic</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/outwardRemittances/searchDomesticRemittances.html');">Search Domestic</a>
				</div></li>
				
				<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Marine Policy </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/marinePolicies/updateDeclaration.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/marinePolicies/searchDeclarations.html');">Search</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/marinePolicies/printDeclarations.html');">Print</a>
				</div></li>
				
				<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Inland Policy </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/inlandPolicies/updateDeclaration.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/inlandPolicies/searchDeclarations.html');">Search</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/inlandPolicies/printDeclarations.html');">Print</a>
				</div></li>
				
				<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Leave Applications </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" onclick="navigateTo('/leaveApplications/update.html');">Create</a>
					<a class="dropdown-item" href="#" onclick="navigateTo('/leaveApplications/search.html');">Search</a>
				</div></li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item"><a onclick='signout();' class="nav-link d-flex"
				href="#"> <i class="far fa-user mr-2 tm-logout-icon"></i>
					<span>Logout</span>
			</a></li>
		</ul>
	</div>
</nav>